body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111827;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: #38bdf8;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to bottom, #0f172a, #1e293b);
}

section {
  padding: 60px 40px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  border-bottom: 2px solid #38bdf8;
  padding-bottom: 10px;
}

.button {
  background: #38bdf8;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}
.plot-video {
  margin-top: 20px;
  border-radius: 10px;
}